<h1 class="text-center">Domains</h1>

<div class="container">
  <div class="table-responsive panel">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>FQDN</th>
          <th>is_expiring</th>
        </tr>
      </thead>

      <tbody>
        <% unless @domains.blank? %>
          <% @domains.each do |domain| %>
            <tr>
              <td><%= domain.id %></td>
              <td><%= domain.fqdn %></td>
              <td><%= domain.certificate_expiring %></td>
            </tr>
          <% end %>
        <% else %>
        You don't have any entries in the database
        <% end %>
      </tbody>
    </table>
  </div>
</div>
